# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.exe

#perso
*.vim
CMakeCache.txt
CMakeFiles
Makefile
*.cmake
install_manifest.txt
doc/html
build/doc/Doxyfile
*.cbp
build/ORM.layout
*.dll
